body,
h1,
h2,
p,
address,
a,
button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
}

body {
    font-family: Raleway, sans-serif;
    background: url(images/background1.png) no-repeat top center #f9f8fb;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.site-header {
    padding-top: 45px;
}

.site-header .container,
.section-about .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.site-header .site-logo {
    font-family: Pacifico, cursive;
    font-weight: 400;
    font-size: 50px;
    margin: 0;
}

.site-header .main-menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.site-header .main-menu-item a {
    color: #262626;
    text-decoration: none;
    display: block;
    border-top: 3px solid transparent;
    padding-top: 5px;
    transition: border-top-color 0.2s;
    margin-right: 35px;
    font-size: 16px;
}

.site-header .main-menu-item a:hover {
    border-top-color: #ff6033;
}

.site-header .main-menu-item.active a {
    border-top-color: #ff6033;
}

.site-header .main-menu-item.active a:hover {
    border-top-color: #992200;
}

.site-header .main-menu-item:last-child a {
    margin-right: 0;
}

.section-fresh {
    height: 900px;
    display: flex;
    align-items: stretch;
    position: relative;
}

.section-fresh::after {
    content: url(images/scroll.png);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 70px;
}

.section-fresh .container {
    padding-bottom: 200px;
    display: flex;
    align-items: center;
}

.section-fresh .section-fresh-content {
    max-width: 380px;
}

.section-fresh .section-fresh-title {
    font-size: 60px;
    font-weight: 900;
    margin: 0;
}

.section-fresh .section-fresh-text {
    margin: 30px 0;
    font-size: 17px;
    line-height: 27px;
}

.section-fresh .section-fresh-action {
    text-transform: uppercase;
    font-weight: 300;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    height: 55px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 200px;
    border: none;
    background: #ff6033;
    color: white;
    box-shadow: 0 20px 30px rgba(255, 96, 51, 0.3);
}

.site-footer {
    background: #262626;
    color: white;
}

.site-footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.site-footer .footer-author,
.site-footer .footer-copyright,
.site-footer .footer-logo {
    margin: 0;
    flex: 1;
}

.site-footer .footer-copyright {
    font-style: normal;
}

.site-footer .footer-logo {
    font-family: Pacifico, cursive;
    font-weight: 600;
    text-align: center;
}

.site-footer .footer-author {
    text-align: right;
}

.site-footer .footer-author strong {
    color: #ff6033;
}

.section-about {
    background-color: rgba(0, 176, 176, 255);
    margin: 0 auto;
    min-height: 550px;
    display: flex;
    align-items: stretch;
    position: relative;
}

.section-about .container {
    max-width: 100%;
    background: url(./images/background2.png) center left no-repeat;
    background-size: 450px;
    flex-direction: row-reverse;
    background-position: 20% 75%;
}

.section-about-content {
    max-width: 480px;
    color: white;
    margin-right: 150px;
}

.section-about-title {
    font-size: 72px;
    margin: 0;
}

.section-about-text {
    line-height: 1.5;
    text-align: left;
}

.section-services {
    min-height: 700px;
    display: flex;
    align-items: stretch;
    position: relative;
    background-color: rgba(112, 192, 255, 255);
}

.section-services .container {
    background: url(./images/background3.png) no-repeat center right;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.secton-services-link {
    background-color: white;
    width: 310px;
    height: 80px;
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    transition: 1s;
}

.secton-services-link:hover {
    box-shadow: 5px 5px 20px #5692c4;
    transform: scale(1.1);
}

.section-services-text {
    width: 210px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin: auto;
}

.secton-services-links-images {
    align-self: center;
    margin: auto;
    width: 30px;
    padding: 10px;
}

.vl {
    border-left: 1px solid black;
}

.secton-sevices-title {
    color: white;
    font-size: 72px;
    padding-left: 50px;
}

.section-gallery {
    background: rgba(254, 233, 46, 255);
}

.section-gallery .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-gallery-content {
    max-width: 450px;
    text-align: center;
}

.secton-gallery-title {
    font-size: 54px;
    margin: 0;
    margin-top: 50px;
}

.section-gallery-text {
    font-size: 12px;
    line-height: 1.5;
}

.section-gallery-block-images {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
}

.gallery-first-image,
.gallery-second-image,
.gallery-third-image,
.gallery-fourth-image,
.gallery-fifth-image {
    max-height: 100%;
    max-width: 100%;
    transition: 1s;
}

.gallery-first-image:hover,
.gallery-second-image:hover,
.gallery-third-image:hover,
.gallery-fourth-image:hover,
.gallery-fifth-image:hover {
    transform: scale(1.1);
}

.gallery-first-image {
    grid-area: 1/1/5/5;
}

.gallery-second-image {
    grid-area: 1/5/3/7;
}

.gallery-third-image {
    grid-area: 3/5/5/7;
}

.gallery-fourth-image {
    grid-area: 5/1/8/4;
}

.gallery-fifth-image {
    grid-area: 5/4/8/7;
}

.section-gallery-button {
    color: white;
    text-transform: uppercase;
    background: #5685a3;
    padding: 10px 30px;
    margin-top: 50px;
    margin-bottom: 100px;
    border: none;
}

.section-gallery-button:hover {
    background: #456A82;
}

.section-subscribe {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-subscribe .container {
    height: 400px;
    background: url(images/background4.png) no-repeat right center rgba(255, 255, 255, 255);
    max-width: 100%;
    padding-top: 50px;
}

.section-subscribe-position-content {
    margin-top: 50px;
    margin-left: 100px;
}

.section-subscribe-content {
    width: 520px;
}

.section-subscribe-text {
    line-height: 1.5;
}

.section-subscribe-title {
    font-size: 32px;
    text-transform: capitalize;
}

.section-subscribe-block {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.section-subscribe-button {
    background: #97ba2c;
    text-transform: uppercase;
    color: white;
    padding: 10px 20px;
    margin-left: 30px;
    border: none;
}

.section-subscribe-button:hover {
    background-color: greenyellow;
    color: black;
}

.section-subscribe-input {
    height: 50px;
    opacity: 0.5;
    padding-left: 10px;
    width: 520px;
    border: black solid 1px;
}

.section-blog {
    background: #b07cf8;
    max-height: 700px;
}

.section-blog .container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-blog-content {
    margin: 0 auto;
    color: white;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.section-blog-title {
    font-size: 68px;
    margin: 0;
}

.section-blog-text {
    text-align: center;
}

.section-blog-block {
    margin: 10px 0 25px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section-blog-one,
.section-blog-two,
.section-blog-three {
    width: 300px;
    height: 250px;
    color: white;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-blog-one:hover,
.section-blog-two:hover,
.section-blog-three:hover {
    transform: scale(1.1);
}

.section-blog-one {
    background: url(./images/blog-galery/background1.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
    transition: 1s;
}

.section-blog-two {
    background: url(./images/blog-galery/background\ 2.jpg);
    background-size: cover;
    transition: 1s;
}

.section-blog-three {
    background: url(./images/blog-galery/background\ 3.jpg);
    background-size: cover;
    transition: 1s;
}

.block-content-one {
    background-color: #565d65;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
    margin: 15px 15px;
}

.section-blog-block-title {
    text-align: center;
    align-self: center;
    margin: 0;
}

.section-blog-block-text {
    margin: 0;
    text-transform: uppercase;
    font-weight: 900;
}

.block-content-two {
    margin-left: 10px;
}

.section-blog-block-text-two {
    font-size: 12px;
}

.section-blog-button {
    background-color: #f82b3c;
    text-transform: uppercase;
    color: blanchedalmond;
    padding: 10px 30px;
    opacity: 0.8;
    margin-bottom: 50px;
    font-weight: bold;
    border: none;
}

.section-blog-button:hover {
    opacity: 1;
    box-shadow: 1px 1px 10px #f82b3c;
}

.section-contact {
    height: 900px;
}

.section-contact .container {
    max-width: 100%;
    height: 800px;
    background: url(./images/background5.jpg) no-repeat center;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.section-contact-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-contact-content {
    margin: 0 auto;
    width: 300px;
    text-align: center;
}

.section-contact-title {
    font-size: 72px;
    margin: 0;
}

.section-contact-text {
    line-height: 1.5;
    font-size: 13px;
}

.section-contact-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 900px;
    margin: 0 auto;
    margin-top: 50px;
}

.section-contact-contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
}

.section-contact-input {
    margin-bottom: 5px;
    background: #00c4c3;
    opacity: 0.5;
    width: 350px;
    padding: 15px;
    border: none;
    color: white;
    font-size: 10px;
}

.section-contact-input:hover {
    opacity: 1;
    border-left: 3px solid #345b82;
}

.section-contact-button-send {
    background: #3477ac;
    opacity: 0.5;
    padding: 10px 30px;
    color: white;
    text-transform: uppercase;
    border: none;
}

.section-contact-button-send:hover {
    opacity: 1;
}

.section-contant-addres {
    margin-right: 120px;
    line-height: 1;
}

.section-contact-addres-title {
    margin: 0;
    text-transform: uppercase;
}

.section-contact-addres-text {
    margin-top: 0;
}